<h1>Have you been to a dream spots or revise a detail regarding your dream spots?</h1>
<h3>Well, you can revise it below</h3>
<br>
<form action="/getaways/<%= @lalaland.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
	<p>Destination: <input type="text" name="lalaland[destination]" value="<%= @lalaland.destination %>"/></p>
	<p>Advantures: <input type="text" name="lalaland[advantures]" value="<%= @lalaland.advantures %>"/></p>
    <p>Duration_of_stay:<input type="text" name="lalaland[duration_of_stay]" value="<%= @lalaland.duration_of_stay %>"/></p>
    <p>Season_to_visit: <input type="text" name="lalaland[season_to_visit]" value="<%= @lalaland.season_to_visit %>"/></p>
    <p>Location: <input type="text" name="lalaland[location]" value="<%= @lalaland.location %>"/></p>
    <p>Saving_required: <input type="text" name="lalaland[saving_required]" value="<%=@lalaland.saving_required %>"/></p>
    <br>
    <br>
	<input type="submit" value="Revise">

</form>