<style>
    body {
        margin:0;
    }

    .header_3 {
    padding: 30px;
    text-align: center;
    background: #ddd;
    }

    .header_3 h1 {
    font-size: 50px;
    }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10% ;
    background-color: #f1f1f1 ;
    position: fixed;
    height: 100% ;
    overflow: auto;
    }

    li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    }

    li a.active {
    background-color: #04AA6D;
    color: white;
    }

    li a:hover:not(.active) {
    background-color: #555;
    color: white;
    }
    
    input[type=text], select, textarea {
        width: 100% ;
        padding: 12px ;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .peripheral {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 40px;
    }

    .label_row {
        float: left;
        width: 25% ;
        margin-top: 6px ;
    }

    .params_field {
        float: left;
        width: 75% ;
        margin-top: 6px;
    }

    .field_blanker:after {
    content: "";
    display: table;
    clear: both;
    }

    @media screen and (max-width: 600px) {
    .label_row, .params_field, input[type=submit] {
        width: 100% ;
        margin-top: 0;
    }
    }

    footer.branding {
        margin-left:20% 
        padding: 20px;
        text-align: center;
        background: #ddd;
        width: 100% ;
        position: fixed;
        bottom: 0;
    }
</style>


<body>
    <div class="header_3">
        <h1>Edit Tool</h1>
    </div>

    <ul>
        <li><a href="/getaways">Index</a></li>
        <li><a href="/account/<%= current_user.id %>">Home</a></li>
        <li><a href="/logout">Logout</a> </li>
    </ul>

    <div style= "margin-left:10%; padding:0 16px; position: fixed; width: 88%; ">
        
        <p>
            Have you already visited a dream spots or want to revise a detail regarding your dream spots?
        <br>
            Feel free to revise all the desired field
        <br>
        </p>

        <div class="peripheral"> <!-- container = 1-->
            <form action="/getaways/<%= @lalaland.id %>" method="POST">
            <input type="hidden" name="_method" value="PATCH">
                <div class="field_blanker"> <!-- row = 2-->      
                    <div class="label_row"> <!-- col-25 = 3-->
                        <label for="destination">Destination </label>
                    </div>
                    <div class="params_field"> <!-- col-75 = 4-->
                        <input type="text" name="lalaland[destination]" placeholder="<%= @lalaland.destination %>"/>
                    </div>
                </div>
                <div class="field_blanker">        
                    <div class="label_row">
                        <label for="advantures">Advantures </label>
                    </div>
                    <div class="params_field">
                        <input type="text" name="lalaland[advantures]" placeholder="<%= @lalaland.advantures %>"/>
                    </div>
                </div>
                <div class="field_blanker">     
                    <div class="label_row">
                        <label for="duration_of_stay">Duration_of_stay </label>
                    </div>
                    <div class="params_field">
                        <input type="text" name="lalaland[duration_of_stay]" placeholder="<%= @lalaland.duration_of_stay %>"/>
                    </div>
                </div>
                <div class="field_blanker">
                    <div class="label_row">
                        <label for="season_to_visit">Season_to_visit </label>
                    </div>
                    <div class="params_field">
                        <input type="text" name="lalaland[season_to_visit]" placeholder="<%= @lalaland.season_to_visit %>"/>
                    </div>
                </div>
                <div class="field_blanker">
                    <div class="label_row">
                        <label for="location">Location: </label>
                    </div>
                    <div class="params_field">
                        <input type="text" name="lalaland[location]" placeholder="<%= @lalaland.location %>"/>
                    </div>
                </div>
                <div class="field_blanker">
                    <div class="label_row">
                        <label for="saving_required">Saving_required </label>
                    </div>
                    <div class="params_field">
                        <input type="text" name="lalaland[saving_required]" placeholder="<%=@lalaland.saving_required %>"/>
                    </div>
                </div>
                <br>   
                <div class="field_blanker"> 
                    <input type="submit" placeholder="Revise">
                </div>
            </form>
        </div>
    </div>
    <footer class="branding">
        <small>&copy; 2021 
        <strong>SinatraProject</strong></small>
    </footer>
<body>