<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header_4 {
    padding: 15px;
    text-align: center;
    background: white;
}

.header_4 h1 {
    font-size: 40px;
}

h5 {
    color: red;
    margin: 0;
}

.topnav{
    overflow :hidden;
    background-color: #98DDDE;
    
}

.topnav a:hover{
    background-color:#ddd;
    color: black;
}
   
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.segment_img1{
    background: url(https://images.squarespace-cdn.com/content/v1/5005e52dc4aa44899228ee7d/1408654469974-Y1GM22XU3TVURULOMGWB/ke17ZwdGBToddI8pDm48kBgaH_dbG81xqKW0kzBovJwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcjdKKZ1ZK1wPVE1ATwKHpz7KIhonwMh6zHa-WGr1WbnwbY_nwkiXyIILK1T_81Q5g/image-asset.png?format=2500w);
    background-size:fit;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% ;
}

.segment_img2{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    padding: 20px;
}

.segment_img3{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    padding: 20px;
}

.segment_img4{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    padding: 20px;
}

.segment_img5{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    padding: 20px;
}

.segment_img6{
    background: url();
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    padding: 20px;
}

.segment {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}


footer.branding {
    margin-left:20% 
    padding: 20px;
    text-align: center;
    background: #ddd;
    width: 100% ;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
    float: none;
    width: 100% ;
    }
}
</style>



<body>
   <div class="header_4">
        <h1>Welcome, Here are all the getaways!</h1>
    </div>

    <div class="topnav">
        <%= redirect_if_not_logged_in %>
        <a href="/account/<%= current_user.id %>">User Home</a>
        <a href="/getaways/new">Add New Destination</a>
        <a href="/logout" style=" float:right">Logout</a>
    </div>

    <div class="section"> <!-- leftcolumn -->

        <div class="segment"> <!-- card --> 
          
            <% @lalalands.map do |g|%>
                <% if g.id == 1%>
                      <h2><a href="/getaways/<%= g.id %>"><%= g.destination %></a></h2>
                <%end%>
            <%end%>    
          
            <h5> Seed data #1 </h5>

            <div class="segment_img1" style="height:400px;"> </div>

            <p>Possible advantures:</p>

            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 1%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
            </div>


            <div class="segment"> <!-- card -->
            <h2>
                <% @lalalands.map do |g|%>
                    <% if g.id == 2%>
                        <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                    <%end%>
                <%end%>
            </h2>
            <h5>
                Seed data #2
            </h5>
            
            <div class="segment_img">
            </div>

            <p>
                Possible advantures:
            </p>
            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 2%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
        </div>
        
        <div class="segment"> <!-- card -->
            <h2>
                <% @lalalands.map do |g|%>
                    <% if g.id == 3%>
                        <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                    <%end%>
                <%end%>
            </h2>
            <h5>
                Seed data #3
            </h5>
            
            <div class="segment_img" style="height:200px;">
            </div>

            <p>
                Possible advantures:
            </p>
            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 3%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
        </div>

        <div class="segment"> <!-- card -->
            <h2>
                <% @lalalands.map do |g|%>
                    <% if g.id == 4%>
                        <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                    <%end%>
                <%end%>
            </h2>
            <h5>
                Seed data #4
            </h5>
            
            <div class="segment_img" style="height:200px;">
            </div>

            <p>
                Possible advantures:
            </p>
            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 4%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
        </div>

        <div class="segment"> <!-- card -->
        <h2>
            <% @lalalands.map do |g|%>
                <% if g.id == 5%>
                    <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                <%end%>
            <%end%>
        </h2>
        <h5>
            Seed data #5
        </h5>
        
        <div class="segment_img" style="height:200px;">
        </div>

        <p>
            Possible advantures:
        </p>
        <p>
            <% @lalalands.map do |g|%>
                <% if g.id == 5%>
                    <%= g. advantures%>
                <%end%>
            <%end%>
        </p>
        </div>

        <div class="segment"> <!-- card -->
        <h2>
            <% @lalalands.map do |g|%>
                <% if g.id == 6%>
                    <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                <%end%>
            <%end%>
        </h2>
        <h5>
            Seed data #6
        </h5>
        
        <div class="segment_img" style="height:200px;">
        </div>

        <p>
            Possible advantures:
        </p>
        <p>
            <% @lalalands.map do |g|%>
                <% if g.id == 6%>
                    <%= g. advantures%>
                <%end%>
            <%end%>
        </p>
    </div>
    </div>

























    </div>
   
        <p>
            
        </p>

</body>


<!-- <% @lalalands.map do |g|%>
    <% if g.id >= 1 && g.id <= 7 %>
    <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
    <%end%>
<%end%>
-->