<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header_4 {
    padding: 15px;
    text-align: center;
    background: white;
}

.header_4 h1 {
    font-size: 40px;
}

.topnav{
    overflow :hidden;
    background-color: #98DDDE;
    
}

.topnav a:hover{
    background-color:#ddd;
    color: black;
}
   
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.segment1 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}


footer.branding {
    margin-left:20% 
    padding: 20px;
    text-align: center;
    background: #ddd;
    width: 100% ;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
    float: none;
    width: 100% ;
    }
}
</style>



<body>
   <div class="header_4">
        <h1>Welcome, Here are all the getaways!</h1>
    </div>

    <div class="topnav">
        <%= redirect_if_not_logged_in %>
        <a href="/account/<%= current_user.id %>">User Home</a>
        <a href="/getaways/new">Add New Destination</a>
        <a href="/logout" style=" float:right">Logout</a>
    </div>

    <div class="section"> <!-- leftcolumn -->
        <div class="segment1"> <!-- card -->
            <h2>
                <% @lalalands.map do |g|%>
                    <% if g.id == 1%>
                        <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                    <%end%>
                <%end%>
            </h2>
            <h5>
                Seed data #1
            </h5>
            
            <div class="">
            </div>

            <p>
                Possible advantures:
            </p>

            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 1%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
            </div>

            <div class="segment1"> <!-- card -->
            <h2>
                <% @lalalands.map do |g|%>
                    <% if g.id == 2%>
                        <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
                    <%end%>
                <%end%>
            </h2>
            <h5>
                Seed data #2
            </h5>
            
            <div class="">
            </div>

            <p>
                Possible advantures:
            </p>
            <p>
                <% @lalalands.map do |g|%>
                    <% if g.id == 2%>
                        <%= g. advantures%>
                    <%end%>
                <%end%>
            </p>
        </div>

    </div>
   
        <p>
            
        </p>

</body>


<!-- <% @lalalands.map do |g|%>
    <% if g.id >= 1 && g.id <= 7 %>
    <a href="/getaways/<%= g.id %>"><%= g.destination %></a>
    <%end%>
<%end%>
-->