<h3>Hi there, these is new your dream getaways!</h3>

<h5>
    <ul>
    <li><%= @lalaland.destination%></li>
    <li><%= @lalaland.advantures %></li>
    <li><%= @lalaland.duration_of_stay %></li>
    <li><%= @lalaland.season_to_visit %></li>
    <li><%= @lalaland.location %></li>
    <li><%= @lalaland.saving_required %></li>
    </ul>
</h5>

<br>
<h5><a href="/account/<%= current_user.id %>">Click here</a> to return to your profile page.</h5>
<br>
<h5><a href="/getaways/<%= @lalaland.id %>/edit">Click here</a> to eddit the dream spot.</h5>
<p><a href="/getaways">Click</a> here to return to the getaway list</p>
<br>

<h3> Would you like to delet this dream spot.</h3>
<h6> pssssss,you can only delete it if you are the owner </h6>
<br>
<form action="/getaways/<%=@lalaland.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete lalaland">

</form>
<br>
<h5><a href="/logout">Click here</a> to log out.</h5>
