<h1>Hi there, these is new your dream getaways!</h1>

 
<h5>
    <ul>
    <li><%= @lalaland.destination%></li>
    <li><%= @lalaland.advantures %></li>
    <li><%= @lalaland.duration_of_stay %></li>
    <li><%= @lalaland.season_to_visit %></li>
    <li><%= @lalaland.location %></li>
    <li><%= @lalaland.saving_required %></li>
    </ul>
</h5>

<!-- <h3> <a href="/getaways/:id/edit">click</a> here to revise this dream spot.</h3> -->


<h3> Would you like to delet this dream spot.</h3>

<form action="/getaways/<%=@lalaland.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete lalaland">

</form>