<h1>Welcome, these are all the dream vacations for my self</h1>

<% @getaways.each do |g|%>
<ul>
    <li><%= g.destination %></li>
    <li><%= g.advantures %></li>
    <li><%= g.duration_of_stay %></li>
    <li><%= g.season_to_visit %></li>
    <li><%= g.location %></li>
    <li><%= g.saving_required %></li>
</ul>

<% end %>